* {
    margin: 0px;
    padding: 0px;
    
}

.profile-title{
    color: white; margin-right: 10px
    
}

.test {
    border: 1px solid;
}

a  {
    color: gray;
    text-decoration-color: grey;
}
.nav-bar-black {
    display: inline-block;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.nav-bar {
    display: block;
    height: 60px;
    width: 100%;
    background-color: black;
    align-items:center;
    justify-content:space-between;
    /* padding: 0px 50px; */
    max-width: 900px;
    margin: 0px 150px; 
}

ul .bold {
    font-size: 40px;
    color: whitesmoke;
    font-weight: 800px;
    margin: 0px 20px 0px 20px;
    text-decoration: none;
}
.nav-links{
    display: flex;
    gap: 15px;
    list-style:none;
    text-decoration-color: lightgrey;
    align-items: center;
}
.nav-bar button {
    color: whitesmoke;
    background-color: rgba(23,162,184,255);
    width: 80px;
    display: flex;
    align-self: center;
    margin-left: 435px;

}
.container-one {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.sect-left{
    height: 500px;
    width: 455px;
    margin-right: 45px;
}
.profile-box {
    display: flex;
    height: 300px;
    border: 5px;
    border-style: solid;
    border-color: lightgrey;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}
.bluebox {
    position: flex;
    height: 100px;
    width: 445px;
    background-color: rgba(23,162,184,255);
}

.profile-cont {
    display: flex;
    height: 200px;
    flex-direction: column; 
    padding-left: 5px;
    row-gap: 4px;
}

.profile-cont [alt*="jane"] {
    position: relative;
    bottom: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.con1, .con2, .con3 {
    margin: 5px;
}

.profile-box h1 {
    font-size: 20px;
}

.con1 [alt*= "map-marker"], .con3 [alt*="gear"]{
        height: 15px;
        width: 12px;
        margin-right: 5px;
        
}
.con1 {
    display: flex;
    align-items: center;
    
}

.con3 {
    display: flex;
    align-items: center;
}

.edu-box {
    display: flex;
    height: 155px;
    border: 5px;
    border-style: solid;
    border-color: lightgrey;
    flex-direction: column;
}

.greybox {
    display:block;
    width: 445px;
    height: 45px;
    background-color: rgba(51,51,51,255);
    align-content: center;
    margin-bottom: 20px;
}

.greybox p {
    color: whitesmoke;
    align-self: center;
    font-size: 25px; 
    /* ^ */
}

.ed-con {
    display: flex;
    color: black;
    
}
.edu-con .h3, .p {
    margin-bottom: 15px;
}

.sect-right{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
}
.req-box {
    display: flex;
    height: 195px;
    width: 324px;
    border: 5px;
    border-style: solid;
    border-color: lightgrey;
    flex-direction: column;
    margin-bottom: 20px;
}
.req-bar {
    display:flex;
    width: 324px;
    height: 40px;
    background-color: rgba(51,51,51,255);
    justify-content:center;
    margin-bottom: 20px;
    align-items: center;
}

.req-bar p {
    border: 2px solid; 
    border-color:black;
    border-radius: 50%;
    background-color: lightgray;
    padding: 3px 6px;

}

.req-con {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 5px;
}

.T-S [alt*="accept-circle"], [alt*="close-circle"], [alt*="todd-s"] {
    height: 60px;
    width: 60px;
}
.T-S [alt*= "todd-s"]{
    border-radius: 50%;
}

.P-S [alt*="phil-s"], [alt*="accept-circle"], [alt*="close-circle"] {
    height: 60px;
    width: 60px;
} 

.P-S [alt*="phil-s"]{
    border-radius: 50%;
}

.T-S, .P-S {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.con-box {
    display: flex;
    height: 308px;
    width: 324px;
    border: 5px;
    border-style: solid;
    border-color: lightgrey;
    flex-direction: column;

}

.con-bar {
    display:flex;
    width: 324px;
    height: 40px;
    background-color: rgba(51,51,51,255);
    justify-content:center;
    margin-bottom: 6px;
    align-items: center;
}

.con-bar p {
    border: 2px solid; 
    border-color:black;
    border-radius: 50%;
    background-color: lightgray;
    padding: 5px;
}

.names img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.names, .names img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2px 5px;
}
.view h3 {
    display: flex;
    color: blue;
    text-decoration: underline;
    align-content: center;
    margin-left: 120px;
}
